* {
    box-sizing: border-box;
}

:root {
    --main-color: #333;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
}

body {
    margin: 0;
    min-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #6699cc;
    padding: 0 20px;
    height: 150px;
}

h1 {
    display: flex;
    align-items: center;
    font-size: 35px;
}

.menu {
    align-items: center;
    display: flex;
    font-size: 20px;
}

.menu__navegacion {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.menu__navegacion > li {
    list-style: none;
}

.contador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f60;
    padding: 0 20px;
    height: 100px;
}

.contador__icono {
    color: var(--main-color);
}

.texto {
    font-size: 38px;
}
