* {
    box-sizing: border-box;
}

:root {
    --main-color: #333;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
}

body {
    margin: 0;
    min-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #6699cc;
    padding: 0 20px;
    height: 110px;
}

h1 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
}

.contenedor {
    display: flex;
    flex-direction: column;
}
.menu {
    align-items: center;
    display: flex;
    font-size: 15px;
}

.menu__navegacion {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.menu__navegacion > li {
    list-style: none;
}

.contador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f60;
    padding: 0 20px;
    height: 90px;
}

.contador__icono {
    color: var(--main-color);
}

.texto {
    font-size: 30px;
}

.lista-compra {
    background-color: #f93;
    min-height: 100vw;
    font-size: 25px;
    padding-top: 20px;
}

.lista-compra__elementos > li {
    list-style: none;
    padding: 0 20px;
}

.lista-compra__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 17px;
}

.lista-compra__elementos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
}
